:root {
  --border: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin: 0 auto;
  font: 1rem sans-serif;
  background: #eee;
  padding: 2rem;
}

/* BUTTONS */

button,
.choose-img {
  padding: 1rem;
  cursor: pointer;
  background: #fff;
  border: 1px solid var(--border);
  transition: 0.5s;
  text-transform: uppercase;
  font-size: 12px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  padding: 1rem;
  /*   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); */
  border: 3px solid var(--border);
  background: #fff;
  gap: 1rem;
}

.container.disable .wrapper,
.container.disable .footer .reset-filter,
.container.disable .footer .save-img {
  opacity: 0.5;
  pointer-events: none;
}

.container .wrapper {
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 0;
  gap: 1rem;
}

/* SHARE */

.container .wrapper .editor-panel,
.container .wrapper .preview-img {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 500px;
  min-height: 300px;
  flex: 1 0 0;
  padding: 1rem;
  border: 1px solid var(--border);
}

/* EDITOR */

.container .wrapper .editor-panel {
  gap: 1rem;
  padding: 1rem;
}

.options,
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5rem;
}

.editor-panel button {
  flex: 1 0 0;
}

.editor-panel button:hover {
  background: #f5f5f5;
}

.editor-panel .options button:active {
  color: #fff;
  background: #5372f0;
  border-color: #5372f0;
}

/* PREVIEW IMAGE */

.wrapper .preview-img {
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.preview-img iconify-icon {
  color: var(--border);
  font-size: 3rem;
}

/* FOOTER */

.footer .reset-filter {
  color: var(--border);
  border: 1px solid var(--border);
}

.footer .reset-filter:hover {
  color: #fff;
  background: #6c757d;
}

.footer .row button {
  color: #fff;
}

.footer .row .choose-img {
  color: #fff;
  background: #6c757d;
  border: 1px solid #6c757d;
}

.footer .row .choose-img:hover {
  background: #5f666d;
}

.footer .row .save-img {
  opacity: 1;
  pointer-events: auto;
  background: #5372f0;
  border: 1px solid #5372f0;
}

.footer .row .save-img.disable {
  opacity: 0.5;
  pointer-events: none;
}

.footer .row .save-img:hover {
  background: #2c52ed;
}
